<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("K-PHONE", "Index", "Home", new { area = "" }, new { @image = "~/Image/logo.png", @class = "shop-brand navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quản lý sản phẩm<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Product")">Sản phẩm</a></li>
                                <li><a href="@Url.Action("Index", "Category")">Hãng</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quản lý giao dịch<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Order")">Giám sát đơn hàng</a></li>
                                @*<li><a href="#">Gíam sát giao hàng</a></li>*@
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quản lý khách hàng<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ListGuest", "Admin")">Thông tin khách hàng</a></li>
                                <li><a href="@Url.Action("CreateCode", "Admin")">Khuyến mãi khách hàng</a></li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("So sánh Sản phẩm", "Index", "Compare")</li>
                        if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Lịch sử đặt hàng", "Index", "Cart")</li>
                            <li>@Html.ActionLink("Thông tin cá nhân", "UserPromotionCode", "Cart")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
                <script>

                </script>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DK-PHONE Nguyễn Tân Khoa - Nguyễn Đăng Khoa - Dương Minh Tâm</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
</body>
</html>
