@model DoubleKPhoneShop.Models.Order

@{
    ViewBag.Title = "Cancel";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h1>Hủy đơn hàng</h1>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OrderId)

    <div class="form-group">        
        <div class="col-md-10">
            @Html.HiddenFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.Pay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.Receiver, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.PhoneReceive, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.AddressReceive, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.TotalPay, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneReceive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneReceive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressReceive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressReceive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Tên mặt hàng")
            </th>
            <th>
                @Html.DisplayName("Số lượng")
            </th>
            <th>@Html.DisplayName("Giá")</th>
        </tr>
        @foreach (var detai in Model.OrderDetails)
        {

            <tr>
                <td>@Html.DisplayFor(item => detai.Product.ProductName)</td>
                <td>@Html.DisplayFor(item => detai.Quantity)</td>
                <td>
                    @Html.DisplayFor(item => detai.Product.Price)
                </td>
            </tr>
        }
        <tr>
            <td>@Html.ActionLink("Back", "Index","Cart", null, new { @class = "btn btn-default " })
                <input type="submit" value="Hủy Đơn" class="btn btn-default" /></td>
            <th>Tổng cộng</th>
            <td>@Model.OrderDetails.Sum(o => o.SumPay)</td>
        </tr>
    </table>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
