@model DoubleKPhoneShop.Models.Category

@{
    ViewBag.Title = "Details";
}

<div>
    <h2 style="border:1px dashed aqua;text-align:center">Chi tiết hãng</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayName("Ảnh hãng")
        </dt>

        <dd>
            <img src="~/Images/@Model.CategoryImage" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) /
    @Html.ActionLink("Back to List", "Index")
</p>
