@model IEnumerable<DoubleKPhoneShop.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2 style="border:1px dashed aqua;text-align:center">Danh sách hãng điện thoại</h2>
<p>@Html.ActionLink("Thêm mới", "Create", null, htmlAttributes: new { @class = "btn btn-success" })</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Hãng")
        </th>
        <th>
            @Html.DisplayName("Hình ảnh")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <img src="~/Images/@item.CategoryImage" />
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </td>
        </tr>
    }

</table>
