@model IEnumerable<DoubleKPhoneShop.Models.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() == 0)
{
    <hr />
    <p class="text-info text-center">
        Giỏ hàng của bạn rỗng!
    </p>
    <p>Chọn sản phẩm thêm vào</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-info">Thêm sản phẩm</a>
}
else
{    
    <div  style="width:200px;margin-right:auto;margin-left:auto">
        @*<p1>Welcome</p1>*@
        <br />
        <marquee style="font-size:40px;" Scrollamount="10" behavior="alternate">Shopping</marquee>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Hình</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center"><img src="~/Images/@item.Product.Image" width="70" height="60" /> </td>
                            <td><a target="_blank" href="@Url.Action("ChiTiet", "SanPham", new { id = item.Product.ProductId })"> @item.Product.ProductName </a> </td>
                            <td>
                                <form action="@Url.Action("SuaSoLuong")" method="get">
                                    @*<input type="hidden" name="SanPhamID" value="@item.Product.ProductId" />*@
                                    <input id="quantity" readonly type="number" max=@item.Quantity class="txtQuantity" data-id="@item.Product.ProductId" @*name="soluongmoi"*@ value="@item.Quantity" />
                                    <input type="hidden" id="maxquantity" value=@item.Product.Quantity />
                                    <p id="err" class="text-danger"></p>
                                    @*<button type="submit" class="btn btn-primary btn-sm"> Cập nhật </button>*@
                                </form>
                            </td>
                            <td> @item.Product.Price.ToString("#,##0").Replace(',', '.') VNĐ </td>
                            <td> @item.ThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </td>

                            <td><a href="#" data-id="@item.Product.ProductId" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn-delete btn btn-danger btn-sm">Xóa</a></td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td class="text-right">Tổng số lượng:</td>
                        <td> @Model.Sum(m => m.Quantity) </td>
                        <td class="text-right">Tổng thành tiền:</td>
                        <td>@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.') VNĐ </td>
                    </tr>
                </table>
            </div>
            <div>
                <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
                @*<button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>*@
                <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
                <button id="btnPayment" class="btn">Thanh toán</button>
            </div>
        </div>
    </div>
}

<script>
    var cart = {
        init: function () {
            cart.regEvents();
        },
        regEvents: function () {
            $('#btnContinue').off('click').on('click', function (e) {
                e.preventDefault();
                window.location.href = "/";
            });
            $('#btnPayment').off('click').on('click', function () {
                window.location.href = "/thanh-toan";
            });
            $('#btnUpdate').off('click').on('click', function (e) {
                e.preventDefault();
                var listProduct = $('.txtQuantity');
                var cartList = [];
                $.each(listProduct, function (i, item) {
                    cartList.push({
                        Quantity: $(item).val(),
                        Product: {
                            ProductId: $(item).data('id')
                        }
                    });
                });

                $.ajax({
                    url: '/Cart/Update',
                    data: { cartModel: JSON.stringify(cartList) },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "gio-hang";
                        }
                    }
                })
            });

            $('#btnDeleteAll').off('click').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Cart/DeleteAll',
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "/gio-hang";
                        }
                    }
                })
            });

            $('.btn-delete').off('click').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    data: { id: $(this).data('id') },
                    url: '/Cart/Delete',
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "/gio-hang";
                        }
                    }
                })
            });
        }
    }
    cart.init();
</script>
<script>
    $(document).ready(function () {
        $('#quantity').on('keyup', function () {
            var that = $(this);            
            var max = $('#maxquantity').val();
            if (that.val() <= max && that.val() >= 1) {
                $('#err').empty();
                $('#btnUpdate').removeClass('hide');
            } else {
                $('#err').empty().html('số lượng không hợp lệ');
                $('#btnUpdate').addClass('hide');
            }
        })
    });
</script>
